@media screen and (max-width:576px) {
    .banner,habit-container{
        flex-direction: column;
    }
    .banner-title{
        font-size: 36px;
        line-height: 43px;
    }
    .contaner{
       max-width: 353px;
       margin-left: 20px;
       height: 335px;
    }

    .bar-btn{
        display: block;
    }
    .habit-container{
        
       grid-template-columns:repeat(1,1fr); 
}
.running-man{
    flex-direction: column;
    align-items: center;
}
.raidous{
    margin: 30px;
} 
.running-man{
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    gap: 10px;
}
.runnin-man-contenar{
    margin: 20px;
}

.mobile{
width: 287px;
height: 54px;
align-items: center;
margin-left: 65px;
font-size: 20px;
}
}